<?php
return [
    'key' => '00000000000000000000000000000000',
    'storageUrl' => 'localhost',
    'storageUser' => 'db_user',
    'storagePass' => 'db_pass',
    'storageName' => 'db_name',
];